<style>
    /* Hide login form elements */
    .form-group  {
        display: none; 
    }
    /* Preview styling */
    #viewport, #my_camera {
        border: 1px solid silver;
        background-color: white;
    }
    #viewport {
        background: white url('camera-solid.svg') no-repeat center;
        background-size: 100px 100px;
    }
</style>
<h1><i class="fas fa-sign-in-alt"></i> Login</h1>
<div class="row text-center">
    <div class="col-sm text-center">
        <div class="card bg-light">
            <div class="card-body align-items-center d-flex justify-content-center">
                <div id="my_camera"></div>
            </div>
        </div>
    </div>
    <div class="col-sm text-center">
        <div id="card" class="card bg-warning">
            <div class="card-body align-items-center d-flex justify-content-center">
                <canvas id="viewport" width="240" height="180"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Login Form -->
<form id="login" action="/login" method="post">
    <div class="form-group">
        <label>Username</label>
        <input id="name" type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input id="password" type="password" class="form-control" name="password">
    </div>
    <input type=button class="btn btn-primary btn-lg mt-2" value="Login" onClick="take_snapshot()">
</form>
<script src="webcam.min.js"></script>
<script src="javascript.js"></script>