<h1><i class="fas fa-user-plus mb-4"></i> Signup</h1>
<!-- Signup Form -->
<form action="/signup" method="post">
	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<div class="input-group-text"><i class="fas fa-user"></i></div>
		</div>
		<input type="text" class="form-control form-control-lg" placeholder="Username" name="username">
	</div>
	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<div class="input-group-text"><i class="fas fa-lock"></i></div>
		</div>
		<input type="password" class="form-control form-control-lg" placeholder="Password" name="password">
	</div>
	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<div class="input-group-text"><i class="fab fa-twitter"></i></div>
		</div>
		<input type="text" class="form-control form-control-lg" placeholder="Twitter" name="twitter">
	</div>
	
	<button type="submit" class="btn btn-secondary btn-lg">Signup</button>
</form>